<!DOCTYPE html>
<html>
  <head>
    <title>Скорочувач посилань</title>
    <link rel="stylesheet" href="/static/css/base.css" />
  </head>
  <body>
    <div class="card">
      <h1>Скорочення посилання</h1>

      {% if error %}
      <div class="error">{{ error }}</div>
      {% endif %}

      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="original_url">Введіть URL:</label>
          <input
            type="text"
            id="original_url"
            name="original_url"
            required
            placeholder="https://example.com"
          />
        </div>

        <button type="submit">Скоротити</button>
      </form>

      {% if short_url %}
      <div class="result">
        <h2>Скорочене посилання:</h2>
        <a href="{{ short_url }}">{{ short_url }}</a><br /><br />
        <img src="{{ qr_code_url }}" alt="QR Code" />
      </div>
      {% endif %}
    </div>
  </body>
</html>
